<template>
    <div class="page-content">
        <h1> 傷害比較表 </h1>
        <div class="group_left">
            <div class="item">
                基準選擇
                <el-select v-model="playerId" filterable placeholder="請選擇玩家" style="margin-right: 10px">
                    <el-option
                        v-for="player in playerList"
                        :key="player.playerId"
                        :label="player.playerName"
                        :value="player.playerId"
                    />
                </el-select>
            </div>
            <div class="item">
                副本:
                <el-select v-model="gameId" filterable placeholder="請選擇副本" style="margin-left: 10px">
                    <el-option
                        v-for="game in gameList"
                        :key="game.gameId"
                        :label="game.gameName"
                        :value="game.gameId"
                    />
                </el-select>
            </div>
            <div class="item">
                <el-button plain icon="el-icon-search" :loading="loading" @click="getData">搜索</el-button>
            </div>
        </div>
        <div class="page-content">
            <div class="board">
                <div id="no-more-tables" style="margin-top:5px;">
                    <table id="tblData" class="table text-nowrap table-condensed table-advanced cf table-hover " />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import $ from 'jquery'; // 导入jquery
import { getPlayerList } from '@/api/player';
import { getGameList } from '@/api/game';
import { getCompareDataList } from '@/api/compareData';

export default {
    name: 'Compare',
    data() {
        return {
            playerList: [],
            gameList: [],
            playerId: null,
            gameId: null,
            loading: false,
        };
    },
    created() {
        getPlayerList().then((resp) => {
            this.playerList = resp.rows;
        });
        getGameList().then((resp) => {
            this.gameList = resp;
        });
        // this.getData();
    },
    methods: {
        getData() {
            if(this.checkInput()) {
                getCompareDataList(this.gameId, this.playerId).then((resp) => {
                    const data = resp.comparePlayer;
                    const col = [
                        {
                            field: 'playerId', title: '玩家名稱', formatter: (value) => {
                                const player = this.playerList.filter(player => player.playerId === value);

                                return player[0].playerName;
                            },
                        },
                        {
                            field: 'compareRatio', title: '強度比', formatter: (value) => {
                                const defaultPlayer = this.playerList.filter(player => player.playerId === this.playerId);

                                return `${value} 個 ${defaultPlayer[0].playerName}`;
                            },
                        },
                    ];
                    $('#tblData').bootstrapTable('destroy');
                    $('#tblData').bootstrapTable({
                        ...this.$com.bootstrapTableOption,
                        // url: window.g.API_HOST + 'getPlayerList', // 请求后台的URL（*）
                        data: data,
                        columns: col,
                    });
                });
            }
        },
        checkInput() {
            if(!this.gameId) {
                this.showMessage('請選擇副本', 2);
                return false;
            }
            if(!this.playerId) {
                this.showMessage('請選擇玩家', 2);
                return false;
            }
            return true;
        },
        showMessage(msg, type = 1) {
            this.$com.alertMsg(msg, type);
        }
    },
};

</script>
