// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

// .el-icon-success{
//   color:#000000
// }
// .el-message--success{
//   background-color:#f0f9eb;
//   border-color:#e1f3d8
// }
// .el-message--success .el-message__content{
//   color:#000000
// }

.el-message--info .el-message__content{color:#000000}
.el-message--success{background-color:#ffffff;border-color:#cccccc}
.el-message--success .el-message__content{color:#000000}
.el-message--warning{background-color:#ffffff;border-color:#cccccc}
.el-message--warning .el-message__content{color:#000000}
.el-message--error{background-color:#ffffff;border-color:#cccccc}
.el-message--error .el-message__content{color:#000000}
.el-message__icon{margin-right:10px}
.el-message__content{padding:0;font-size:14px;line-height:1}
.el-message__closeBtn{
  position:absolute;
  top:50%;
  right:15px;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  cursor:pointer;
  color:#C0C4CC;
  font-size:16px
}
.el-message__closeBtn:hover{color:#909399}
.el-message .el-icon-success{color:#000000}
.el-message .el-icon-error{color:#000000}
.el-message .el-icon-info{color:#000000}
.el-message .el-icon-warning{color:#000000}
.el-message-fade-enter,.el-message-fade-leave-active{
  opacity:0;
  -webkit-transform:translate(-50%,-100%);transform:translate(-50%,-100%)
}

.el-message-box__status.el-icon-warning{color: #000000;}

//messagebox 確定左右互換
.el-message-box__btns .el-button:nth-child(2) {
  float: left;
  margin-left: 265px;
}

.el-tooltip__popper.is-light{
  background:#FFF;
  border:1px solid rgb(196, 196, 196, 0);
  box-shadow: 0 0 5px 0 rgba(105, 105, 105, 0.3);
}

.el-tooltip__popper[x-placement^=top]{margin-bottom:12px}
.el-tooltip__popper[x-placement^=top] .popper__arrow{bottom:-6px;border-top-color:rgb(196, 196, 196, 0);border-bottom-width:0}
.el-tooltip__popper[x-placement^=top] .popper__arrow::after{bottom:1px;margin-left:-5px;border-top-color:rgb(196, 196, 196, 0);border-bottom-width:0}
.el-tooltip__popper[x-placement^=bottom]{margin-top:12px}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow{top:-6px;border-top-width:0;border-bottom-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow::after{top:1px;margin-left:-5px;border-top-width:0;border-bottom-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper[x-placement^=right]{margin-left:12px}
.el-tooltip__popper[x-placement^=right] .popper__arrow{left:-6px;border-right-color:rgb(196, 196, 196, 0);border-left-width:0}
.el-tooltip__popper[x-placement^=right] .popper__arrow::after{bottom:-5px;left:1px;border-right-color:rgb(196, 196, 196, 0);border-left-width:0}
.el-tooltip__popper[x-placement^=left]{margin-right:12px}
.el-tooltip__popper[x-placement^=left] .popper__arrow{right:-6px;border-right-width:0;border-left-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper[x-placement^=left] .popper__arrow::after{right:1px;bottom:-5px;margin-left:-5px;border-right-width:0;border-left-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow{border-top-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow::after{border-top-color:#FFF}
.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow{border-bottom-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow::after{border-bottom-color:#FFF}
.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow{border-left-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow::after{border-left-color:#FFF}
.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow{border-right-color:rgb(196, 196, 196, 0)}
.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow::after{border-right-color:#FFF}