.page-content {
    padding: 10px 10px;
    min-height: 700px;
    clear: both;
    /* overflow-x: hidden; */
}

.board {
    position: relative;
    width: 100%;
    margin: 30px 15px 0px 15px;
    padding-right: 30px;
}

.group {
    display: inline;
    margin: 25px 10px 0px 0px;
    float: right;
}

::v-deep .page-content th{
    font-weight: bold;
}

::v-deep .page-content td, ::v-deep .page-content th{
    font-size: 12px;
}

/* 
// el 下拉式選單選項 , el input element
.el-select-dropdown__item, .el-input__inner {
    font-size: 14px;
} */

.item {
    font-size: 14px;
}

.group .item{
    display: inline;
    margin: 10px 5px 0px 5px;
}

.group_left {
    display: inline;
    margin: 25px 0px 0px 20px;
    float: left;
}

.group_left .item{
    display: inline;
    margin: 10px 5px 0px 5px;
}

.prompt {
    display:block;
    float: right;
    color:red;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
}
