<template>
    <div class="page-content">
        <h1> 遊戲紀錄 </h1>
        <div class="group_left">
            <div class="item">
                <el-button plain icon="el-icon-plus" :loading="loading" @click="popUpShow(0)">新增</el-button>
            </div>
            <!-- <div class="item">
                <el-button plain icon="el-icon-edit" :loading="loading" @click="popUpShow(1)">編輯</el-button>
            </div> -->
            <div class="item">
                <el-button plain icon="el-icon-delete" :loading="loading" @click="deleteGameData">刪除</el-button>
            </div>
        </div>
        <div class="group" style="margin-right:20px">
            <div class="item">
                <el-select v-model="selectGameId" clearable placeholder="請選擇副本" style="margin-right: 10px">
                    <el-option
                        v-for="game in gameList"
                        :key="game.gameId"
                        :label="game.gameName"
                        :value="game.gameId"
                    />
                </el-select>
            </div>
            <div class="item">
                <el-button plain icon="el-icon-search" :loading="loading" @click="getData">搜索</el-button>
            </div>
        </div>
        <div class="page-content">
            <div class="board">
                <div id="no-more-tables" style="margin-top:5px;">
                    <table id="tblData" class="table text-nowrap table-condensed table-advanced cf table-hover " />
                </div>
            </div>
        </div>
        <el-dialog :title="title" :visible.sync="popupShow" @close="popupShow = false">
            <el-row style="margin-left: 25%; margin-bottom: 30px">
                副本:
                <el-select v-model="gameId" filterable placeholder="請選擇副本" style="margin-left: 10px">
                    <el-option
                        v-for="game in gameList"
                        :key="game.gameId"
                        :label="game.gameName"
                        :value="game.gameId"
                    />
                </el-select>
            </el-row>
            <el-row style="margin-left: 25%">
                <el-col v-for="(data, index) in playerData" :key="index">
                    <el-row>
                        <el-select v-model="data.playerId" filterable placeholder="請選擇玩家" style="margin-right: 10px">
                            <el-option
                                v-for="player in playerList"
                                :key="player.playerId"
                                :label="player.playerName"
                                :value="player.playerId"
                            />
                        </el-select>
                        傷害比:
                        <el-input v-model="data.damageRatio" placeholder="請輸入傷害比" style="width: 150px; margin-right: 5px; margin-left: 5px" @change="damageRatioImput" />%
                    </el-row>
                </el-col>
            </el-row>

            <div slot="footer" class="dialog-footer">
                <el-button @click="popupShow = false">取 消</el-button>
                <el-button type="primary" @click="submit">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import $ from 'jquery'; // 导入jquery
import { getGameDataList, addGameData, deleteGameData } from '@/api/gameData';
import { getPlayerList } from '@/api/player';
import { getGameList } from '@/api/game';

export default {
    name: 'GameData',
    data() {
        return {
            loading: false,
            title: '',
            popupShow: false,
            editType: 0,
            playerList: [],
            gameList: [],
            gameId: null,
            playerData: [
                {
                    playerId: null,
                    damageRatio: '',
                },
                {
                    playerId: null,
                    damageRatio: '',
                },
                {
                    playerId: null,
                    damageRatio: '',
                },
                {
                    playerId: null,
                    damageRatio: '',
                },
                {
                    playerId: null,
                    damageRatio: '',
                }
            ],
            selectGameId: '',
        };
    },
    created() {
        getPlayerList().then((resp) => {
            this.playerList = resp.rows;
            getGameList().then((resp) => {
                this.gameList = resp;
            });
            this.getData();
        });
    },
    methods: {
        getData() {
            getGameDataList(this.selectGameId).then((resp) => {
                const col = [
                    { checkbox: true,
                        width: 5,
                        widthUnit: '%'
                    },
                    {
                        field: 'roundId', title: '流水號',
                    },
                    {
                        field: 'gameId', title: '副本', formatter: (value) => {
                            const game = this.gameList.filter(game => game.gameId === value);

                            return game[0].gameName;
                        },
                    },
                    {
                        field: 'playerDataList', title: '玩家資料', formatter: (value) => {
                            let str = '<table style="width:100%;">';
                            value.forEach((player) => {
                                const name = this.playerList.filter(p => p.playerId === player.playerId);

                                if(name.length > 0) {
                                    const temp = `
                                        <td>
                                            ${name[0].playerName} : ${player.damageRatio}
                                        </td>
                                    `;
                                    str += temp;
                                }
                            });

                            str += '</table>';

                            return str;
                        },
                    },
                    {
                        field: 'date', title: '創建時間', formatter: (value) => {
                            const date = new Date(value + '+0800');
                            return this.$com.dateFormat(date);
                        },
                    },
                ];
                $('#tblData').bootstrapTable('destroy');
                $('#tblData').bootstrapTable({
                    ...this.$com.bootstrapTableOption,
                    // url: window.g.API_HOST + 'getGameList', // 请求后台的URL（*）
                    data: resp,
                    columns: col,
                });
            });
        },
        deleteGameData() {
            var ids = this.checkSelect();
            if(!ids) {
                return;
            }

            this.$confirm('是否確認刪除?', '提示', {
                cancelButtonText: '取消',
                confirmButtonText: '确定',
                type: 'warning'
            }).then(() => {
                deleteGameData(ids).then((response) => {
                    this.showMessage('刪除成功', 0);
                    this.getData();
                }, (error) => {
                    this.showMessage(` 错误: ${error}`, 2);
                });
            }).catch(() => {

            });
        },
        add() {
            if(this.checkGameData()) {
                const data = {
                    gameId: this.gameId,
                    playerDataList: this.playerData
                };
                addGameData(data).then((resp) => {
                    this.showMessage('新增成功', 0);
                    this.popupShow = false;
                    this.getData();
                }, (error) => {
                    if(error === '409') {
                        this.showMessage('遊戲數據名稱重複', 2);
                    } else {
                        this.showMessage(` 错误: ${error}`, 2);
                    }
                });
            }
        },
        // edit() {
        //     if(this.gameNameInput === '') {
        //         this.showMessage('請輸入遊戲數據名稱');
        //     } else {
        //         updateGame(this.gameId, this.gameNameInput).then((response) => {
        //             this.showMessage('修改成功', 0);
        //             this.popupShow = false;
        //             this.getData();
        //         }, (error) => {
        //             if(error === '409') {
        //                 this.showMessage('遊戲數據名稱重複', 2);
        //             } else {
        //                 this.showMessage(` 错误: ${error}`, 2);
        //             }
        //         });
        //     }
        // },
        popUpShow(type) {
            this.editType = type;

            switch(type) {
                case 0:
                    this.title = '新增遊戲數據';
                    // this.gameId = null; //不要清空輸入比較方便
                    this.playerData.forEach((data) => {
                        data.damageRatio = '';
                    });
                    break;
                case 1:
                    // this.title = '編輯遊戲數據';
                    // var arr = this.checkSelect();
                    // if(!arr) {
                    //     return;
                    // }

                    // if(arr.length > 1) {
                    //     this.showMessage('一次只能編輯一個對象');
                    //     return;
                    // }

                    // var rows = $('#tblData').bootstrapTable('getSelections');
                    // this.gameId = rows[0].gameId;
                    // this.gameNameInput = rows[0].gameName;

                    break;
            }
            this.popupShow = true;
        },
        submit() {
            switch(this.editType) {
                case 0:
                    this.add();
                    break;
                case 1:
                    this.edit();
                    break;
            }
        },
        checkSelect(showMsg = true) {
            var rows = $('#tblData').bootstrapTable('getSelections');
            if(rows.length === 0) {
                if(showMsg) {
                    this.showMessage('請選擇數據');
                }
                return false;
            }
            var arr = [];
            $.each(rows, function() {
                arr.push(this.roundId);
            });
            return arr;
        },
        checkGameData() {
            if(!this.gameId) {
                this.showMessage('請選擇副本', 2);
                return false;
            }

            let isPlayer = false;
            let damageRatio = 0;

            for(var i = 0; i < this.playerData.length; i++) {
                const data1 = this.playerData[i];

                if(data1.playerId) {
                    isPlayer = true;
                    if(i + 1 < this.playerData.length) {
                        for(var n = i + 1; n < this.playerData.length; n++) {
                            const data2 = this.playerData[n];
                            if(data1.playerId === data2.playerId) {
                                this.showMessage('有重複的玩家，請檢查', 2);
                                return false;
                            }
                        }
                    }
                }
                if(data1.damageRatio) {
                    damageRatio += Number(data1.damageRatio);
                }
            }

            if(!isPlayer) {
                this.showMessage('請輸入玩家資料', 2);
                return false;
            }
            if(damageRatio === 0) {
                this.showMessage('請輸入傷害比', 2);
                return false;
            }
            if(Math.round(damageRatio) > 100) {
                this.showMessage('輸入傷害比傷害比大於100', 2);
                return false;
            }

            return true;
        },
        damageRatioImput(value) {
            if(isNaN(Number(value))) {
                this.showMessage('請輸入數字', 2);
            }
        },
        showMessage(msg, type = 1) {
            this.$com.alertMsg(msg, type);
        }

    }
};

</script>

<style scoped>
    ::v-deep td {
        text-align: center;
    }

    ::v-deep th {
        text-align: center;
        vertical-align: middle;
    }
    ::v-deep .el-row {
        /* margin-top: 10px; */
        margin-bottom: 20px;
    }
</style>
