<template>
    <div class="page-content">
        <h1> 副本列表 </h1>
        <div class="group_left">
            <div class="item">
                <el-button plain icon="el-icon-plus" :loading="loading" @click="popUpShow(0)">新增</el-button>
            </div>
            <div class="item">
                <el-button plain icon="el-icon-edit" :loading="loading" @click="popUpShow(1)">編輯</el-button>
            </div>
            <div class="item">
                <el-button plain icon="el-icon-delete" :loading="loading" @click="deleteGame">刪除</el-button>
            </div>
        </div>
        <div class="group" style="margin-right:20px">
            <div class="item">
                <el-button plain icon="el-icon-search" :loading="loading" @click="getData">搜索</el-button>
            </div>
        </div>
        <div class="page-content">
            <div class="board">
                <div id="no-more-tables" style="margin-top:5px;">
                    <table id="tblData" class="table text-nowrap table-condensed table-advanced cf table-hover " />
                </div>
            </div>
        </div>
        <el-dialog :title="title" :visible.sync="popupShow" @close="popupShow = false">
            <el-input v-model="gameNameInput" placeholder="请输副本名稱" />
            <div slot="footer" class="dialog-footer">
                <el-button @click="popupShow = false">取 消</el-button>
                <el-button type="primary" @click="submit">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import $ from 'jquery'; // 导入jquery
import { getGameList, addGame, updateGame, deleteGame } from '@/api/game';

export default {
    name: 'GameList',
    data() {
        return {
            loading: false,
            title: '',
            popupShow: false,
            editType: 0,
            gameNameInput: '',
            gameId: 0,
        };
    },
    created() {
        this.getData();
    },
    methods: {
        getData() {
            getGameList().then((resp) => {
                const col = [
                    { checkbox: true,
                        width: 5,
                        widthUnit: '%'
                    },
                    {
                        field: 'gameId', title: '流水號',
                    },
                    {
                        field: 'gameName', title: '副本名稱',
                    },
                ];
                $('#tblData').bootstrapTable('destroy');
                $('#tblData').bootstrapTable({
                    ...this.$com.bootstrapTableOption,
                    // url: window.g.API_HOST + 'getGameList', // 请求后台的URL（*）
                    data: resp,
                    columns: col,
                });
            });
        },
        deleteGame() {
            var ids = this.checkSelect();
            if(!ids) {
                return;
            }

            this.$confirm('是否確認刪除?', '提示', {
                cancelButtonText: '取消',
                confirmButtonText: '确定',
                type: 'warning'
            }).then(() => {
                deleteGame(ids).then((response) => {
                    this.showMessage('刪除成功', 0);
                    this.getData();
                }, (error) => {
                    this.showMessage(` 错误: ${error}`, 2);
                });
            }).catch(() => {

            });
        },
        add() {
            if(this.gameNameInput === '') {
                this.showMessage('請輸入副本名稱');
            } else {
                addGame(this.gameNameInput).then((response) => {
                    this.gameNameInput = '';
                    this.showMessage('添加成功', 0);
                    this.popupShow = false;
                    this.getData();
                }, (error) => {
                    if(error === '409') {
                        this.showMessage('副本名稱重複', 2);
                    } else {
                        this.showMessage(` 错误: ${error}`, 2);
                    }
                });
            }
        },
        edit() {
            if(this.gameNameInput === '') {
                this.showMessage('請輸入副本名稱');
            } else {
                updateGame(this.gameId, this.gameNameInput).then((response) => {
                    this.showMessage('修改成功', 0);
                    this.popupShow = false;
                    this.getData();
                }, (error) => {
                    if(error === '409') {
                        this.showMessage('副本名稱重複', 2);
                    } else {
                        this.showMessage(` 错误: ${error}`, 2);
                    }
                });
            }
        },
        popUpShow(type) {
            this.editType = type;

            switch(type) {
                case 0:
                    this.title = '新增副本';
                    this.gameNameInput = '';
                    break;
                case 1:
                    this.title = '編輯副本';
                    var arr = this.checkSelect();
                    if(!arr) {
                        return;
                    }

                    if(arr.length > 1) {
                        this.showMessage('一次只能編輯一個對象');
                        return;
                    }

                    var rows = $('#tblData').bootstrapTable('getSelections');
                    this.gameId = rows[0].gameId;
                    this.gameNameInput = rows[0].gameName;

                    break;
            }
            this.popupShow = true;
        },
        submit() {
            switch(this.editType) {
                case 0:
                    this.add();
                    break;
                case 1:
                    this.edit();
                    break;
            }
        },
        checkSelect(showMsg = true) {
            var rows = $('#tblData').bootstrapTable('getSelections');
            if(rows.length === 0) {
                if(showMsg) {
                    this.showMessage('請選擇數據');
                }
                return false;
            }
            var arr = [];
            $.each(rows, function() {
                arr.push(this.gameId);
            });
            return arr;
        },
        showMessage(msg, type = 1) {
            this.$com.alertMsg(msg, type);
        }

    }
};

</script>

<style scoped>
    ::v-deep td {
        text-align: center;
    }

    ::v-deep th {
        text-align: center;
        vertical-align: middle;
    }
</style>
